body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eef2ff; 
}

header {
    width: 100vw;
    height: 5vh;
    z-index: 10;
    text-align: center
}
h1 {
    background: lightcoral;
    margin: 0;
    color:white;
}

#container {
    z-index: 5;
    height: 95vh;
    width: 100vw;
    overflow: hidden;
}

.minimap {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px black solid;
}

#minimap-square {
    z-index: 12;
}
#minimap-canvas {
    z-index: 11;
}
